.DS_Store
.gradle
.settings
.project
.classpath
.vscode
.idea
.kotlin
!/.idea/codeStyles
.run
build
*.iml
Pods
xcuserdata
local.properties
.externalNativeBuild
.cxx
*.xcuserstate
*.xcbkptlist
/gradle-plugin/generated
/kotlin-js-store/
